.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-weight: bold;

  .output {

    width: 38.5%;
    height: 60px;
    background-color: black;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    font-size: xxx-large;
    text-align: right;
    padding: 10px;

  }

  table {
    width: 40%;
    height: 400px;
    text-align: center;
    border-radius: 5px;

    td {
      background-color: #ece8e8;
      box-shadow: 5px 10px 18px #cab2b2;
      border-radius: 5px;
      width: 20px;
    }

    .reset {
      background-color: #f54f6b;
      color: #fff;
    }

    .equal {
      background-color: #1976d2;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .output {
      width: 50%;
    }

    table {
      width: 50%;
    }
  }
}